<div class="login-container">
  <div class="login-left">
    <h2>Login! 👋</h2>
    <form>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="myemail@domain.com" [(ngModel)]="user.mailId" >
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="******" [(ngModel)]="user.password">
      <button type="submit" class="btn btn-signin" (click)="loginNow()" >Login</button>
    </form>
  </div>
</div>