<button type="button" (click)="doLogout()"> Logout </button>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Tasks</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{task.taskId}}</td>
                <td>
                    <input type="text" name = "newTask" [(ngModel)] = "task.description" >
                </td>
                <td>
                    <button type="button" (click)="updateTask(task)"> Update </button>
                </td>
                <td>
                    <button type="button" (click)="completeTask(task.taskId)"> Finish </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<form>
<input type="text" name = "newTask" [(ngModel)] = "this.task.description" >
<button type="submit" (click)="addTask()"> Add Task </button>
</form>



Show finished task 
<input type="checkbox" [(ngModel)]="showFinished"  (change)="checkValue()"/>

<div *ngIf="showFinished === true;">
    <div class="container">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Tasks</th>
                    <th>Completed on</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of cTasks">
                    <td>{{task.taskId}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.completedOn  | date: 'mediumDate'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
